<!DOCTYPE html>
<html>
    <head>
        <title>ClassRank</title>
        {% include "head.html" %}
        <link rel="stylesheet" type="text/css" href="/static/splash.css">
    </head>
    <body>
        <div id="container" class="pure-g">
            {% include "sidebar.html" %}
            <div id="main" class="pure-u-md-18-24 pure-u-lg-18-24 pure-u-xl-18-24">
                <p>This is the homepage for ClassRank (name up for change), an app useful for figuring out what things you should do.  It uses a cool algorithm called <a href="http://en.wikipedia.org/wiki/Collaborative_filtering">Collaborative Filtering</a> to make predictions and inferences based on similarities between people.  As a user, you can use this crowsourced information to help make decisions about things<sup>TM</sup>.
                <p>Currently it is simply a side project done mainly by me, <a href="https://github.com/joshuamorton">Josh Morton</a> for fun and profit and learning and all such things.  If you have any questions, or want to help, contact me.  No seriously, I'm lonely and want friends.  
                <p>This will change

            </div>
        </div>
    </body>
</html>